// File: secrets.h.template
// Modify to suit local conditions and then save as secrets.h

#pragma once

#define WIFI_SSID     "Rose"
#define WIFI_PSWD     "12345678"
#define WIFI_STAIP    "192.168.1.23"
#define WIFI_GATEWAY  "192.168.1.1"
#define WIFI_MASK     "255.255.255.0"
